<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<script>
    function create_random_string(){
        var random_string = '';
        var characters = 'hbvhjjbvhsvhj,Dvbhjzfbvhzjfbbbnvmbcvcvmxmvxvmcxvxbcvcmvxbcccmcxcxf'
        for(var i,i=0;i<characters.length ; i++){
            random_string += characters.charAt(Math.floor(Math.random() * characters.length))

        }
        console.log(random_string)
    }
</script>
</html>